body,html {
    font-family: karla, monospace;
    line-height: 1.8;
    color: #333;
    font-size: 18px;
  }
  
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
  
  a {
    transition: all 300ms ease-out;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid #1a91db;
  }
  
  a:hover {
    text-decoration: none;
    color: #1a91db;
    border-bottom-color: transparent;
  }
  
  a:focus,a:active {
    outline: 0;
    text-decoration: none;
    color: #1a91db;
  }
  
  .button {
    background-color: #eee;
    border-radius: 3px;
    padding: .25rem .5rem;
    display: inline-block;
    border-bottom: 0;
    margin-bottom: 5px;
  }
  
  .button:hover {
    background-color: #1a91db;
    color: #fff;
  }
  
  p {
    font-size: 24px;
    font-size: 1em;
    text-align: left;
    margin-bottom: 1em;
  }
  
  a.home-button {
    width: 70%;
    min-height: 200px;
    background-color: #1a91db;
    color: #fff;
    padding: 2rem;
    border: 0;
    margin: 0 auto;
  }
  
  a.home-button i {
    font-size: 3rem;
    margin: 1rem 0 0;
    display: block;
  }
  
  a.home-button h3 {
    margin-top: 0;
  }
  
  a.home-button:hover {
    color: #fff;
    background-color: #1782c4;
  }

  .powered-by {
      width: 100%;
  }

  #social {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }

  #social a{
    border: none;
  }

  @media (max-width:1424px) {
    #social {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  
  @media (max-width:540px) {
    a.home-button {
      width: 100%;
    }
  }
  
  .vertical-nav {
    min-height: -webkit-fill-available;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    padding: 2rem;
    transition: left 600ms ease-in-out;
    z-index: 1;
    box-shadow: 2px 0 2px #ddd;
  }

  .vertical-nav.active {left:0;}
  
  .vertical-nav .logo {
    max-width: 120px;
    margin-bottom: .5rem;
  }
  
  .vertical-nav h1 {
    margin: 1rem 0 0;
    font-size: 1.9em;
  }
  
  .vertical-nav ul {
    padding: 0;
    margin: 2rem 0 1rem 0;
  }
  
  .vertical-nav ul h3,.vertical-nav ul h4 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
  }
  
  .vertical-nav ul li {
    width: 100%;
    list-style: none;
    padding: 0;
  }
  
  .vertical-nav ul li a {
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    color: #333;
    padding: .5rem 0;
  }
  
  .vertical-nav ul li a:hover {
    border-bottom-color: #1a91db;
    color: #1a91db;
  }
  
  .api-side {
    width: 75%;
    position: absolute;
    height: 100%;
    right: 0;
    padding-left: 4rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
  }
  
  .api-side h1 {
    margin: 2rem 0;
    padding-top: 2rem;
    line-height: 1.8;
  }
  
  .api-side h3 {
    margin: 2rem 0;
    padding-top: 4rem;
    text-transform: uppercase;
  }
  
  .api-side h4 {
    text-transform: uppercase;
  }
  
  .api-side h5 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
    font-size: 1rem;
    margin: 2rem 0 0;
  }
  
  .api-side p {
    margin: 1rem 0 2em;
  }
  
  .mobile-menu {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #eee;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  
  .mobile-h1 {
    display: none;
  }
  
  .title {
    margin-top: 3em;
  }
  
  .mobile-menu i {
    font-size: 36px;
    line-height: 50px;
  }
  
  .mobile-menu a {
    border: 0;
    display: block;
  }
  
  @media (max-width:1024px) {
    .mobile-menu {
      display: block;
    }
  
    .mobile-h1 {
      display: block;
    }
  
    .title {
      margin-top: -20px;
      font-size: 1.2em;
    }
  
    .vertical-nav {
      width: 100%;
      height: 100vh;
      left: -100%;
      padding-top: 4rem;
      padding-bottom: 1rem;
      box-shadow: none;
    }
  
    .vertical-nav .logo {
      max-width: 90px;
      height: auto;
      margin-bottom: .5rem;
    }
  
    .vertical-nav ul {
      margin: 1.5rem 0;
    }
  
    .vertical-nav h1,  .vertical-nav p {
      margin-bottom: 0;
    }
  
    code {
      word-break: break-all;
    }
  
    .api-side {
      width: 100%;
      padding: 0 1rem 2rem;
    }
  }
  
  .code-wrapper {
    background-color: #eee;
    line-height: 1;
    display: contents;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .code-wrapper pre {
    font-family: ubuntu mono, monospace;
    padding: .5rem 1rem;
    display: inline-block;
    height: 40px;
  }
  
  .code-wrapper .button {
    vertical-align: top;
    margin: 0;
    height: 40px;
    background-color: #1a91db;
    color: #fff;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .code-wrapper .button:hover {
    background-color: #1782c4;
  }
  
  @media (max-width:767px) {
    .code-wrapper {
      height: auto;
    }
  
    .code-wrapper pre {
      display: block;
      height: auto;
      line-height: 1.8;
      max-width: 100%;
      font-size: 1em;
    }
  
    .code-wrapper .button {
      width: 100%;
      text-align: center;
    }
  }
  
  .home .code-wrapper {
    margin-top: 2rem;
  }
  
  @media (max-width:767px) {
    .home .code-wrapper {
      margin-top: 3rem;
    }
  }
  
  .try {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: 2rem;
    justify-content: space-between;
  }
  
  .try .image {
    width: 45%;
  }

  .image-content {
    text-align: center;
  }
  
  .try .json {
    padding-right: 2rem;
    max-width: 50%;
  }
  
  .try .image {
    padding-left: 2rem;
  }
  
  .try .image img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    margin-bottom: 1rem;
  }
  
  .try pre {
    word-break: break-all;
  }
  
  @media (max-width:767px) {
    .try {
      flex-direction: column;
    }
  
    .try .image {
      width: 100%;
      padding: 0;
    }
  
    .try .json {
      max-width: 100%;
      padding: 0;
    }
  }
